<div class="p-grid" style="padding-left: 2%">
  <div class="p-col-1 p-offset-4">
    <h5>Daño A: {{ injectors[0].damage }}%</h5>
  </div>
  <div class="p-col-1">
    <h5>Daño B: {{ injectors[1].damage }}%</h5>
  </div>
  <div class="p-col-1">
    <h5>Daño C: {{ injectors[1].damage }}%</h5>
  </div>
</div>

<div class="p-grid" style="padding-left: 5%">
  <div class="p-col-1 p-offset-4">
    <p-slider
      [(ngModel)]="injectors[0].damage"
      [style]="{'height':'14em'}"
      orientation="vertical"
      (onChange)="calcA()"></p-slider>
  </div>
  <div class="p-col-1">
    <p-slider
      [(ngModel)]="injectors[1].damage"
      [style]="{'height':'14em'}"
      orientation="vertical"
      (onChange)="calcB()"></p-slider>
  </div>
  <div class="p-col-1">
    <p-slider
      [(ngModel)]="injectors[2].damage"
      [style]="{'height':'14em'}"
      orientation="vertical"
      (onChange)="calcC()"></p-slider>
  </div>
</div>

<div class="p-grid" style="padding-top: 2%; padding-left: 5%">
  <div class="p-col-2 p-offset-4" style="padding-left: 3%">
    <h4>Velocidad de la luz: {{ speedLight }}%</h4>
  </div>
</div>

<div class="p-grid" style="padding-left: 5%;">
  <div class="p-col-2 p-offset-4">
    <p-slider [(ngModel)]="speedLight"></p-slider>
  </div>
</div>

<div class="p-grid" style="padding-top: 4%">
  <div class="p-col-5 p-offset-3">
    <p-table [value]="injectors">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Capacidad</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{rowData.name}}</td>
          <td>{{rowData.actualCapacity}}</td>
        </tr>
      </ng-template>
    </p-table>

    <div>
      <h4>Tiempo Funcionamiento: {{ operatingTime }}</h4>
    </div>
  </div>
</div>
